Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 140
AccessModifierOffset: -4
SortIncludes: false
AllowShortBlocksOnASingleLine: Never
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
ReferenceAlignment: Left
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
BreakConstructorInitializers: AfterColon 
